*{
	padding:0px;
	margin: 0px;
	scroll-behavior: smooth;
}
body{
	background-color: #1b1b32;
	padding: 0px;
	margin: 0px;
	font-family: monospace;

}
#intro{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),url("./img/retroroom.gif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: left;
	padding: 50px 20px 20px 20px;
}
#intro p{
	color: rgba(255,255,255,0.8);
}

#main{
	display: flex;
	background: #1b1b32;
}
#myself{
	border-right: 2px solid brown;
	border-top: 2px solid brown;
	height: 100vh;
	width: 272.8px;
	text-align: center;
	align-items: center;
	position: fixed;
	overflow: auto;
	margin-top:104px;
	background: beige;
}
#name{
	font-size:5rem
}
li{
	list-style: none;
}
#navbar{
	margin: 0px;
	position: fixed;
	overflow: hidden;
	width:100%;
	top:0px;
	display: block;
	left: 0px;
	right: 0px;
	background:beige;
	border-bottom: 2px solid brown;

}
#navbar ul{
	margin-top: 30px;
    margin-left: 45px;
	background:beige;
	margin-bottom: 10px;
}

#navbar ul li a {
	text-decoration: none;
	padding: 15px;
	margin: 30px;
	border-radius: 20px;
	background-color: brown;
	border:solid brown;
	color: white;
	font-size: 14px;
}
#myself ul li a{
	text-decoration: none;
	margin-top: 20px;
	font-size: 16px;
	margin-right: 10px;
	transition:padding 0.3s;
}
#myself ul li{
	margin-top: 20px;
}
#welcome-section{
	background-color: #1b1b32;
	justify-content: center;
	text-align: center;
	color: white;
	width: 100%;
	height: auto%;
}
#logo{
	display: inline-block;
}
.button{
	display: inline-block;
	justify-content: center;
	float: right;
	margin-top: 20px;
}
#navbar ul li a:hover{
	background-color: rgba(255,255,255,0.5);
	color: brown;
	border: solid brown;
	transition: 0.3s;
}
p{
	font-size: 15px;
}
#info{
	width: 70%;
	margin: 0 15% 0 15%;
	justify-content: center;
	text-align: center;
	align-self: center;
	padding-top: 100px;
}
#info p{
	margin-top: 30px;
}
#rightpage{
	background-color: #1b1b32;
	margin-left: 274.8px;
	margin-top: 103px;
	height:100vh;
}
#tech{
	margin: auto;
	padding: 10px;
}
#project-tile{
	background-color: #1b1b32;
	color: white;
	display: flex;
	margin: 10px 10px;
	border-radius: 10px;
	background: grey;
}
#project-tile li{
	margin-left: 20px;
}
#projects{
	background-color: #1b1b32;
	padding-bottom: 20px;
	padding-top: 104px;
}
h1{
	color: white;
}
#myself ul li:hover{
	transform: scale(1.1,1.1);
	transition: 0.2s;
}

#myself ul li:active{
	transform: scale(0.9,0.9);
	transition: 0.2s;
}

#socials{
	visibility: hidden;
}
#socials:hover{
	color: white;
	background: #00A1C9;
}
#close{
	visibility: hidden;
	position: relative;
	color: white;
	background: brown;
	border: 2px solid brown;
	border-radius: 15px;
	overflow: auto;
	overflow: visible;
}
#close:hover{
	color: brown;
	background: white;
}
#devText{
	font-size: 4rem;
}
#resume{
	font-size: 15px;
	color: brown;
	border: 2px solid brown;
	display: inline-block;
	width: 80px;
	border-radius: 5px;
	padding: 4px;
}
#resume:hover{
	background: rgba(255,0,0,0.5);
	transition: 0.2s;
	color: brown;
}

/*media queries from here */
@media screen and (min-width: 1000px){
	#close{
		visibility: hidden;
		z-index:-999;
	}
	#myself{
		visibility: visible;
		overflow: visible;
	}
	#inviclose{
		background: beige;
	}
}

@media screen and (max-width: 1000px){
	#myself{
		visibility: hidden;
		margin-top: 0px;
	}
	#rightpage{
		margin-left: 0px;
		margin-top: 0px;
	}
	#navbar{
		position: static;
	}
	#navbar ul{
		text-align: center;
	}
	#navbar ul li a{
		margin: 10px;
	}
	#socials{
		margin-top: 10px;
		margin-left: 10px;
		border: 2px solid #00A1C9;
		position: absolute;
		top:0px;
		visibility: visible;
		background: white;
		color: #00A1C9;
		border-radius: 20px;
		padding: 4px;
	}
	#close{
		margin-top: 1px;
		margin-left: -33px;
		visibility: hidden;
		z-index: 2;
		float: right;
		visibility: hidden;

	}
	#myself{
		margin-top: 0px;
		z-index: 20;
		top: 0px;
	}
	#projects{
		padding-top: 20px;
	}
	#intro{
		height: 100vh;
	}
}

@media screen and (max-width: 750px){
	#navbar ul li{
		float: none;
	}
	#logo{
		display: block;
	}
	#navbar ul li a{
		display: block;
		margin:0px;
		margin-left: 0px;
		font-size: 12px;
	}
	.button{
		display: inline-block;
	}
	#navbar ul{
		margin: 0px;
		margin-bottom: 5px;
	}
	#rightpage{
		margin-top: 0px;
	}
	
	#project-tile{
		flex-direction: column;
		align-items: center;
	}
	#info{
		padding-top: 30px;
	}
	#name{
		font-size: 4rem;
	}
	#devText{
		font-size: 3rem;
	}
} 


@media screen and (max-width: 400px){
	#navbar ul li a{
		font-size: 10px;
		padding: 10px;
		border-radius: 15px;
	}
